.skype-header, .skype-ids, .block-skype-ids , .advance-skype-details { display: inline-block; }

.skype-ids-title { float: left; }

#title {
	float: right;
  padding-top: 0.9em;
  padding-left: 1em;
}

.skype-ids-lists {
  list-style: none;
}

.config-skype {
	margin-top: 1em;
}

.skype-ids-alias {
  word-wrap: break-word;
  width: 10em;
}
